* {
    border:0;
    margin:0;
    font-family: 'Bakbak One', "cursive";
}

body {
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}
.global-container {
    display:flex;
    flex-direction: column;
    width:100%;
}

header {
    display:flex;
    justify-content: space-around;
    width:100%;
    height:100px;
    align-items: center;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    padding:20px 0;
    border-bottom: 3px solid black;
}

header ul li {
    display:inline-block;
    list-style-type:none;
    list-style: none;
    color: black;
    margin:0 10px;
}

header ul li a {
    text-decoration: none;
    color:black;
    font-size:20px;
    transition:0.2s;
    border-radius: 10px;
}

header ul li a:hover {
    border: 3px solid black;
    border-radius: 10px;
    padding:5px;
}
header img {
    width:100px;
    border-radius: 50%;
    transition:border 0.2s;
}

header img:hover {
    border: 3px solid black;
    
}

#section-first {
    margin-top:100px;
}

.section-left {
    display:flex;
    flex-direction: row;
    align-self: flex-start;
    justify-content: space-around;
    width:auto;
    max-width: 45%;
    min-width: 15%;
    margin-left:50px;
    margin-top:30px;
    border: solid black 2px;
    padding:10px;
    border-radius: 20px;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.section-right {
    display:flex;
    flex-direction: row-reverse;
    align-self: flex-end;
    justify-content: space-around;
    width:auto;
    max-width: 45%;
    min-width: 15%;
    margin-right:50px;
    margin-top:20px;
    border: solid black 2px;
    padding:10px;
    border-radius: 20px;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.section-right .section-text {
    text-align: right;
}

.section-text {
    font-size:20px;
    width:80%;
    margin:0px 20px;
    justify-content: center;
}

.section-image img {
    width:100px;
    height:100px;
    border-radius: 25px;
    align-self: center;
}